certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
obsws-python==1.8.0
pygame-ce==2.5.6
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
urllib3==2.6.3
websocket-client==1.9.0
srctools==2.7.0
pillow==12.3.0